@model MISIVSWebApp.Models.Clasificacion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Clasificacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Parametro.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parametro.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_minimo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_minimo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.valor_maximo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.valor_maximo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.peso_relativo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.peso_relativo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
