<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/Content/base_site.css">
    <!-- Bootstrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- FontAwesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/solid.css" integrity="sha384-VGP9aw4WtGH/uPAOseYxZ+Vz/vaTb1ehm1bwx92Fm8dTrE+3boLfF1SpAtB1z7HW" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css" integrity="sha384-1rquJLNOM3ijoueaaeS5m+McXPJCGdr5HcA03/VHXxcp2kX2sUrQDmFc3jR5i/C7" crossorigin="anonymous">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <div class="wrapper">
        <!-- Sidebar -->
        <nav id="sidebar">
            <ul class="list-unstyled components">
                <h2 style="text-align: center;">Menu</h2>
                <li class="active">
                    @Html.ActionLink("Home", "Index", "Home")
                </li>
                <li>
                    @Html.ActionLink("Consult Sectors", "About", "Home")
                </li>
                <li>
                    @Html.ActionLink("Consult Houses", "Contact", "Home")
                </li>
                <li>
                    <a class="action" href="#">Reports</a>
                </li>
            </ul>
        </nav>
        <!-- Barra de navegación -->
        <div id="content" class="">
            <nav class="navbar navbar-expand-lg navbar-light navbar-custom">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-navbar">
                        <i class="fas fa-bars"></i>
                    </button>
                    <div class="navbar navbar-expand-lg navbar-light navbar-title">
                        <h2 class="title"><b>SAVS</b></h2>
                    </div>
                    <ul class="navbar-nav ml-auto flex-nowrap">
                        <!-- Botón provisional para Logout-->
                        <form class="form-inline" method="post" action=@Url.Action("Login", "Accounts")>
                            <button id="btn_sign_out" class="btn btn-sm" type="submit"><u>Sign Out</u></button>
                        </form>
                    </ul>
                </div>
            </nav>
            <div class="navbar navbar-light navbar-title">
                <h5 class="title" style="padding-left:70px"><u>Seismic Vulnerability Analysis System</u></h5>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <!-- Este bloque es donde va el contenido de la página -->
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Popper.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

    <!-- Other JS -->
    <script src="~/Scripts/navbar.js"></script>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    @RenderSection("scripts", required: false)


</body>
</html>
