@{
    ViewBag.Title = "Home Page";
}
<link rel="stylesheet" href="~/Content/home_index.css">
@*
    <h2>@ViewBag.Title</h2>
*@
<h3>Summary</h3>
<hr />
<div class="row">
    <div class="col-md-6 bloque">
        <div class="info-class">
            <img src="~/Content/Static/pointmap.png" alt="Sector Analyzed icon" class="icon">
            <text>Sectors Analyzed: &nbsp;&nbsp; @ViewBag.Sectors</text>
        </div>
        <div class="info-class">
            <img src="~/Content/Static/house.png" alt="Homes Analyzed icon" class="icon">
            <text>Homes Analyzed: &nbsp;&nbsp; @ViewBag.Homes</text>
        </div>
    </div>
    <div class="col-md-6 bloque">
        <div class="info-class">
            <img src="~/Content/Static/document.png" alt="Report Made icon" class="icon">
            <text>Reports Made: &nbsp;&nbsp; @ViewBag.Reports</text>
        </div>
        <div class="info-class">
            <img src="~/Content/Static/block.png" alt="Report Analyzed icon" class="icon">
            <text>Blocks Analyzed: &nbsp;&nbsp; @ViewBag.Blocks</text>
        </div>
    </div>
</div>

<h3>Menu</h3>
<hr />
<div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-2 button rcorners" onclick="location.href='@Url.Action("ConsultSectors","Home")'" style="cursor:pointer">
        <div class="bloque">
            <img src="~/Content/Static/map.png" alt="Sector Analyzed icon" class="icon-button">
        </div>
        <div class="bloque">
            <text class="light-color">Consult <br /> Sectors</text>
        </div>
    </div>

    <div class="col-md-1">
    </div>


    <div class="col-md-2 button rcorners" onclick="location.href='@Url.Action("ConsultHomes","Home")'" style="cursor:pointer">
        <div class="bloque">
            <img src="~/Content/Static/house2.png" alt="Report Made icon" class="icon-button">
        </div>
        <div class="bloque">
            <text class="light-color">Consult <br /> Homes</text>
        </div>
    </div>

    <div class="col-md-1">
    </div>


    <div class="col-md-2 button rcorners" onclick="location.href='@Url.Action("ConsultReports","Home")'" style="cursor:pointer">
        <div class="bloque">
            <img src="~/Content/Static/document2.png" alt="Report Made icon" class="icon-button">
        </div>
        <div class="bloque">
            <text class="light-color">Consult <br /> Reports</text>
        </div>
    </div>
    <div class="col-md-2">
    </div>
</div>



