@model IEnumerable<MISIVSWebApp.Models.PuntajeClasificacion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="column-count:2;">
    <h2 style="margin-bottom:2%;">Scores per Clasification</h2>
    <p style="float:right; text-decoration:underline;">
        @Html.ActionLink("Create New Score", "Create")
    </p>
</div>
<table class="table">
    <tr>
        <th>
            clasification
            @*Html.DisplayNameFor(model => model.Clasificacion.nombre)*@
        </th>
        <th>
            score name
            @*Html.DisplayNameFor(model => model.nombre)*@
        </th>
        <th>
            score
            @*Html.DisplayNameFor(model => model.puntaje)*@
        </th>
        <th>
            kind of penalty (for penalty scores)
            @*Html.DisplayNameFor(model => model.penalizacion)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Clasificacion.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.puntaje)
        </td>
        <td>
            @{
                switch (item.penalizacion)
                {
                    case "ninguna":
                        <text>
                            None
                        </text>
                        break;
                    case "positiva":
                        <text>
                            Positive penalty
                        </text>
                        break;
                    case "negativa":
                        <text>
                            Negative penalty
                        </text>
                        break;
                    default:
                        <text>
                            Unknown
                        </text>
                        break;
                }
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
