@model MISIVSWebApp.Models.Ficha

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ficha</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Vivienda.inspeccion_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vivienda.inspeccion_id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inspector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inspector)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_inspeccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_inspeccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fecha_sincronizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_sincronizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
