@model IEnumerable<MISIVSWebApp.Models.Variable>

@{
    ViewBag.Title = "Index";
}

<div style="column-count:2;">
    <h2 style="margin-bottom:2%;">Variable</h2>
    <p style="float:right; text-decoration:underline;">
        @Html.ActionLink("Create New Variable", "Create")
    </p>
</div>
<table class="table">
    <tr>
        <th>
            Parent Seccion
            @*Html.DisplayNameFor(model => model.Seccion.nombre)*@
        </th>
        <th>
            name
            @*Html.DisplayNameFor(model => model.nombre)*@
        </th>
        <th>
            mandatory
            @*Html.DisplayNameFor(model => model.obligatoria)*@
        </th>
        <th>
            active
            @*Html.DisplayNameFor(model => model.activo)*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Seccion.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.obligatoria)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.activo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
